body{
    background-color: blueviolet;
    color: burlywood;
    font-size: 410%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#box-1 p{
 background-color: tomato;
}

@media(max-width:750px){
    body{
        background-color: chartreuse;
        color: white;
        font-size: 210%;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    }

    #box-1 p{
        background-color:blue;
       }
       
}