@media(min-width: 768px){ /*This is used to make the page responsive. If the width decreases to <768px, the items go column wise*/

body{
    background: chocolate;
}

#container-1{
    display: flex; /*it makes the elemets aligned one after the other, to get aligned side by side*/
    /*align-items: flex-end; As it is inside the container, the elements will move towards the end of the container and vice versa with other options*/
    flex-direction: column;/*Makes the elements inside the container(the headers and so) as column*/
}


#container-1 div{
    border: 1px #cccccc solid;
    padding: 10px;
}
}
.box-1{
    flex: 3; /*This fixes the alignment btw the different boxes*/
    justify-content: flex-end;
}

.box-2{
    flex: 1;
    flex-basis: 50%;
}

.box-3{
    flex: 1;
}
